/*
* @Author: Windsor
* @Date:   2017-08-23 10:13:19
* @Last Modified by:   Administrator
* @Last Modified time: 2017-08-30 22:19:12
*/
@import url('base.css');

body{
	width: 100%;
	background: #fff;
	position: relative;
}
/* 头部开始 */
header{
	width: 100%;
	height: 0.88rem;
	background: red;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 999;
}
header .shuru{
	float: left;
	width: 62.5%;
	height: 0.66rem;
	background: #fee9e9;
	border-radius: 4px;
	margin-top: 0.11rem;
}
header .input:focus{
	outline: none;
}
header .login{
	width: 18.75%;
    height: 0.66rem;
    text-align: center;
    line-height: 0.88rem;
    font-size: 0.22rem;
    float: right;
}
.login{
	color: #fff;
}
.shuru input{
	width: 76.5%;
	height: 0.66rem;
	background: #fee9e9;
	border: none;
	font-size: 0.24rem;
	padding-left: 3.5%;
	border-radius: 4px;
	float: left;
}
/* 头部结束 */
#head{
	width: 100%;
	height: 0.88rem;
}
/* banner开始 */
.banner{
	width: 100%;
	height: 2.22rem;
	background: blue;
	position: relative;
}
.bannerlist{
	width: 100%;
	height: 2.22rem;
	position: relative;
	left: 0;
}
.bannerlist li{
	width: 100%;
	height: 2.22rem;
	position: absolute;
	left: 0;
}
.bannerlist a{
	display: block;
	width: 100%;
	height: 2.22rem;
}
.bannerlist a img{
	display: block;
	width: 100%;
	height: 100%;
}
.botton{
	width: 1.4rem;
	height: 0.14rem;
	position: absolute;
	left: 2.5rem;
	bottom: 0.15rem;
}
.bannerist{
	width: 1.42rem;
	height: 0.14rem;
}
.bannerist li{
	width: 0.14rem;
	height: 0.14rem;
	background: #7f7e80;
	float: left;
	border-radius: 50%;
	margin-right: 0.07rem;
}
.bannerist li:last-child{
	margin-right: 0;
}
.bannerist li:hover{
	background: #fff;
}
/* banner结束 */
/* 导航列表开始 */
.nav-list{
	width: 100%;
	height: 2.66rem;
}
.navli{
	width: 100%;
	height: 1.18rem;
	margin-bottom: 0.29rem;
}
.navli li,.navli1 li{
	width: 20%;
	height: 100%;
	float: left;
}
.navli .imgli,.navli1 .imgli{
	display: block;
	width: 0.72rem;
	height: 0.72rem;
	border-radius: 0.17rem;
	margin: 0.07rem auto 0.15rem;
}
.imgli img{
	display: block;
	width: 0,72rem;
	height: 0.72rem;
}
.navli .word,.navli1 .word{
	display: block;
	height: 0.2rem;
	font-size: 0.2rem;
	color: #051b28;
	text-align: center;
	line-height: 0.2rem;
}
.navli1{
	width: 100%;
	height: 1.18rem;
}
/* 导航列表结束 */
.hot{
	width: 100%;
	height: 1.02rem;
	background: #fff;
}
.hot1{
	width: 20%;
	height: 1.02rem;
	border-right: 0.02rem solid #e7e7e7;
	float: left;
}
.hot1 img{
	margin: 0 auto;
}
.hot2{
	width: 78%;
	height: 100%;
	float: right;
}
.hot2 img{
	width: 0.38rem;
	height: 0.36rem;
	margin-left: 0.2rem;
	margin-top: 0.3rem;
	margin-right: 0.1rem;
	float: left;
}
.hot3{
	display: block;
	width: 1.00rem;
	height: 0.80rem;
	margin-left: 0.1rem;
	margin-top: 0.1rem;
}
.hot2-1{
	display: block;
	font-size: 0.22rem;
	color: #333333;
	margin-top: 0.1rem;
}
.hot2 .hot2-2{
	display: block;
	font-size: 0.22rem;
	color: #ff692f;
	margin-top: 0.15rem;
}
/* 内衣 */
.nei{
	width: 100%;
	height: 2.08rem;
	background: #F0F0F0;
}
.nei1{
	width: 54%;
	height: 2.08rem;
	background: #fff;
	margin-top: 0.1rem;
	margin-left: 0.1rem;
	float: left;
}
.nei1-1{
	width: 100%;
	height: 2.08rem;
}
.nei2{
	width: 43.75%;
	height: 2.08rem;
	margin-top: 0.1rem;
	float: right;
	background: yellow;
	display: block;
	float: right;
}

.nei2-1{
	width: 100%;
	height: 2.08rem;
}
/* 品牌特卖 */
.pin{
	width: 100%;
	height: 0.62rem;
	background: #f0f0f0;
}
.pin2{
	width: 3.42rem;
	height: 100%;
	margin: 0 auto;
	margin-left: 1.60rem;
}
.pin1-2{
	width: 0.7rem;
	float: left;
	margin-top: 0.3rem;
	background: #ffcc99;
}
.pin1-1{
	float: left;
	margin-left: 0.2rem;
	margin-top: 0.15rem;
	width: 0.3rem;
	height: 0.3rem;
}
.pin1{
	font-size: 0.22rem;
	color: #ffcc99;
	display: block;
	float: left;
	margin-left: 0.1rem;
	margin-top: 0.15rem;
	margin-right: 0.2rem;
}
.pin3{
	width: 100%;
	height: 1.90rem;
	background: #fff;
}
.pin3 li{
	width: 50%;
	height: 100%;
	border-right: 1px solid #f0f0f0;
	box-sizing: border-box;
	float: left;
}
.pin3 li img{
	width: 100%;
	height: 100%;
}
/* 必抢开始 */
.bi{
	width: 100%;
	height: 0.62rem;
	background: #f0f0f0;
}
.bi2{
	width: 3.42rem;
	height: 100%;
	margin: 0 auto;
	margin-left: 1.80rem;
}
.bi1-2{
	width: 0.7rem;
	float: left;
	margin-top: 0.3rem;
	background: #ffcc99;
	color: #f9822e;
}
.bi1-1{
	float: left;
	margin-left: 0.2rem;
	margin-top: 0.15rem;
	width: 0.3rem;
	height: 0.3rem;
}
.bi1{
	font-size: 0.22rem;
	color: #f9822e;
	display: block;
	float: left;
	margin-left: 0.2rem;
	margin-top: 0.15rem;
	margin-right: 0.2rem;
}
.bi3{
	width: 100%;
	height: 5.10rem;
	background: yellow;

}
.bi3 li{
	width: 25%;
	height: 2.55rem;
	background: #fff;
	float: left;
	border-bottom: 1px solid #f0f0f0;
	box-sizing: border-box;
}
.bi3 li:nth-of-type(4){
	border-left: 1px solid #f0f0f0;
	box-sizing: border-box;
}
.bi3 li:last-of-type{
	border-left: 1px solid #f0f0f0;
	box-sizing: border-box;
}
.bi3 li .bi3-1{
	font-size: 14px;
	color: #000;
	display: block;
	text-align: center;
	margin-top: 0.2rem;
}
.bi3-2{
	width: 70%;
	height: 1.2rem;
	margin-left: 20%;
	margin-top: 0.2rem;
}
.bi3-3{
	display: block;
	font-size: 0.16rem;
	float: left;
	margin-left: 0.2rem;
	color: #ff2e2e;
}
.bi3-4{
	display: block;
	font-size: 0.16rem;
	float: left;
	margin-left: 0.05rem;
	text-decoration: line-through;
	color: #9b9b9b;
}
/* 今日必抢结束 */
/* 潮流酷玩开始 */
.kuwan{
	width: 100%;
	height: 3.24rem;
	background: #f0f0f0;
}
.kuwan .zhuti{
	width: 100%;
	height: 0.62rem;
}
.kuwan hr{
	width: 0.68rem;
	height: 0.02rem;
	background: #becfec;
	float: left;
	margin-top: 0.32rem;
	margin-left: 1.6rem;
	margin-right: 0.15rem;
	border: none;
}
.kuwan hr:last-of-type{
	float: left;
	margin-top: 0.32rem;
	margin-left: 0.15rem;
}
.kuwan ul{
	width: 100%;
	height: 2.62rem;
	background: #fff;
}
.kuwan ul li{
	width: 33.333333%;
	height: 100%;
	float: left;
}
.kuwan ul a{
	display: block;
	width: 100%;
	height: 100%;
}
.kuwan ul a img{
	display: block;
	width: 100%;
	height: 100%;
}
/* 潮流酷玩结束 */
/* 品牌特卖开始 */
.pinpaitemai{
	width: 100%;
	height: 2.5rem;
	background: #f0f0f0;
}
.pinpaitemai .zhuti{
	width: 100%;
	height: 0.62rem;
}
.pinpaitemai hr{
	width: 0.68rem;
	height: 0.02rem;
	background: #ffcc99;
	float: left;
	margin-top: 0.32rem;
	margin-left: 1.6rem;
	margin-right: 0.15rem;
	border: none;
}
.pinpaitemai hr:last-of-type{
	float: left;
	margin-top: 0.32rem;
	margin-left: 0.15rem;
}
.pinpaitemai ul{
	width: 100%;
	height: 1.88rem;
}
.pinpaitemai ul li{
	width: 50%;
	height: 1.88rem;
	float: left;
	box-sizing: border-box;
}
.pinpaitemai ul li:first-child{
	border-right: 1px solid #f0f0f0;
}
.pinpaitemai ul li:last-child{
	border-left: 1px solid #f0f0f0;
}
.pinpaitemai a{
	display:block;
	width: 100%;
	height: 100%; 
}
.pinpaitemai a img{
	display:block;
	width: 100%;
	height: 100%;
}
/* 品牌特卖结束 */
/* 猜你喜欢开始 */
.caini{
	width: 100%;
	height: 5.82rem;
	background: #f0f0f0;
}
.caini .zhuti{
	width: 100%;
	height: 0.88rem;
}
.caini hr{
	width: 0.68rem;
	height: 0.03rem;
	background: #999999;
	float: left;
	margin-top: 0.45rem;
	margin-left: 1.6rem;
	margin-right: 0.15rem;
	border: none;
}
.caini hr:last-of-type{
	float: left;
	margin-top: 0.45rem;
	margin-left: 0.28rem;
}
.caini .xihuan{
    height: 0.32rem;
    margin-top: 0.31rem;
    margin-left: 0.19rem;
    font-size: 0.22rem;
    float: left;
    color: #999999;
}
.caini ul{
	width: 100%;
	height: 4.54rem;
}
.caini li{
	float: left;
	width: 50%;
	height: 4.54rem;
	background: #fff;
	box-sizing: border-box;
}
.caini li:first-child{
	border-right: 0.03rem solid #f0f0f0;
}
.caini li:last-child{
	border-left: 0.03rem solid #f0f0f0;
}
.caini li a{
	display: block;
	width: 100%;
	height: 100%;
}
.caini li img{
	display: block;
	width: 100%;
	height: 3.17rem;
}
.caini .rexiao{
	display: block;
	width: 100%;
	height: 0.84rem;
	padding-left: 0.17rem;
	font-size: 0.24rem;
	color: #666666;
	line-height: 0.42rem;
	box-sizing: border-box;
}
.caini .pricea{
	display: block;
	width: 100%;
	height: 0.36rem;
	padding-left: 0.14rem;
	font-size: 0.18rem;
	color: #dd2727;
	line-height: 0.36rem;
	box-sizing: border-box;
}
#renminbi{
	font-size: 0.34rem;
}
.jieshu{
	width: 100%;
	height: 1.21rem;
	background: #f0f0f0;
	border-bottom: 0.04rem solid #000;
	padding-top: 0.15rem;
	box-sizing: border-box;
}
.jieshu img{
	display: block;
	width: 1.2rem;
	height: 0.72rem;
	margin: 0.1rem auto 0;
}
/* 猜你喜欢结束 */
/* 结束部分开始 */
.foot{
	width: 100%;
	height: 2rem;
	margin-top: 1.2rem;
	background: #fff;
}
.foot ul{
	width: 100%;
	height: 0.22rem;
}
.foot li{
	float: left;
	height: 0.22rem;
	font-size: 0.22rem;
	padding-left: 0.34rem;
	padding-right: 0.34rem;
	border-right: 0.02rem solid #999999;
}
.foot li:last-child{
	border-right: 0;
}
.foot a{
	color: #999999;
}
.foot span{
	display: block;
	font-size: 0.22rem;
	color: #cccccc;
	text-align: center;
	margin-top: 65px;
}